.DS_store
/__pycache__
/env
/data
sigi1.csv
SIGI.csv
prueba.csv
prueba.py
script.ipynb
wp.py
what.py
PyWhatKit_DB.txt
Log.txt
gloria.csv
contratistas.csv
ContratacionGeneral.csv
avanza.csv
adriana.csv
prueba.ipynb